/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
    max-width: 100%; /* never bigger than parent; no horizontal scrollbar*/
    /* border: 1px solid grey; */
}

/* fill viewport, hide scroll bar */
html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-size: 1.4rem;
    color: #4f4f4f;
}

h1 {
    font-size: 4rem;
    text-align: left;
    margin-left: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    text-align: center;
}
h3 {
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    /* text-align: center; */
}
h4 {
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    /* text-align: center; */
}

.container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

nav {
    margin-top: .7rem;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
nav a {
    text-decoration: none;
}

#upload {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    /* border: dotted; */
    /* display: flex; */
}

.large-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: dotted; */
    /* justify-content: center; */
    margin: 0 auto;
}

.container2 {
    width: 100%;
    /* border: dotted; */
}

.row {
    width: 100%;
}

/* .container2 {
    width: 80%;
    display: flex;
    /* flex-direction: c; */
    /* height: 100%; */
/* } */



/* ensure content is below navbar
div.container-fluid
{
    padding-top: 56px;
} */

/* fill viewport
div.container-fluid, div.row, div.col
{
    height: 100%;
} */

/* remove padding within column */
/* div.col
{
    padding-left: 0;
    padding-right: 0;
} */

/* add padding around form */
/* form
{
    padding: 15px;
} */

/* wrap and scroll preformatted text */
pre
{
    height: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
}

/* highlight spans */
/* span
{
    background-color: #ff0;
} */
