{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/emphasize" enctype="multipart/form-data" method="post">
            first file (python text)*<br>
            <input name="file1", type="file"><br><br>
            second file (verse)**<br>
            <input name="file2", type="file"><br><br>
            <button type="submit">emphasize</button></button><br><br>
            *Just copy and paste a (well-formatted) python program into a text file and upload.<br>
            **A text file containing clean HTML, as outputted by <a href=https://www.textfixer.com/html/convert-word-to-html.php>this</a> word-to-html converter.<br>
            Stressed syllables must be indicated with "&ltb&gt&lt/b&gt" tags, not "&ltstrong&gt&lt/strong&gt."
        </form>
    </div>
    <div class="col" style="overflow:scroll; height:200px;">
        <p>
            <b>e.g. put this into a .rtf or .txt file, for the verse portion:</b>
        </p>
        <p>
        &ltp&gtNoth&ltb&gting &lt/b&gtin &ltb&gtFrance&lt/b&gt un&ltb&gttil &lt/b&gthe &ltb&gthas &lt/b&gtno &ltb&gtwife&lt/b&gt!&lt/p&gt

&ltp&gtThou &ltb&gtshalt &lt/b&gthave &ltb&gtnone&lt/b&gt, Rous&ltb&gtsill&lt/b&gton, &ltb&gtnone &lt/b&gtin &ltb&gtFrance&lt/b&gt; &lt/p&gt

&ltp&gtThen &ltb&gthast &lt/b&gtthou &ltb&gtall &lt/b&gta&ltb&gtgain&lt/b&gt. Poor &ltb&gtlord&lt/b&gt, is’t &ltb&gtI&lt/b&gt&lt/p&gt

&ltp&gtThat &ltb&gtchase &lt/b&gtthee &ltb&gtfrom &lt/b&gtthy &ltb&gtcoun&lt/b&gttry &ltb&gtand &lt/b&gtex&ltb&gtpose &lt/b&gt&lt/p&gt

&ltp&gtThese &ltb&gttend&lt/b&gter &ltb&gtlimbs &lt/b&gtof &ltb&gtthine &lt/b&gtto &ltb&gtthe &lt/b&gte&ltb&gtvent&lt/b&gt&lt/p&gt

&ltp&gtOf &ltb&gtthe &lt/b&gtnone-&ltb&gtspar&lt/b&gting &ltb&gtwar&lt/b&gt? And &ltb&gtis &lt/b&gtit &ltb&gtI&lt/b&gt&lt/p&gt

&ltp&gtThat &ltb&gtdrive &lt/b&gtthee &ltb&gtfrom &lt/b&gtthe &ltb&gtsport&lt/b&gtive &ltb&gtcourt&lt/b&gt, where &ltb&gtthou&lt/b&gt&lt/p&gt

&ltp&gtWast &ltb&gtshot &lt/b&gtat &ltb&gtwith &lt/b&gtfair &ltb&gteyes&lt/b&gt, to &ltb&gtbe &lt/b&gtthe &ltb&gtmark &lt/b&gt&lt/p&gt

&ltp&gtOf &ltb&gtsmo&lt/b&gtky &ltb&gtmusk&lt/b&gtets? &ltb&gtO &lt/b&gtyou &ltb&gtlead&lt/b&gten &ltb&gtmess&lt/b&gtengers &lt/p&gt

&ltp&gtThat &ltb&gtride &lt/b&gtu&ltb&gtpon &lt/b&gtthe &ltb&gtvi&lt/b&gt(o)lent &ltb&gtspeed &lt/b&gtof &ltb&gtfire&lt/b&gt,&lt/p&gt

&ltp&gtFly &ltb&gtwith &lt/b&gtfalse &ltb&gtaim&lt/b&gt, cleave &ltb&gtthe &lt/b&gtstill-&ltb&gtpierc&lt/b&gting &ltb&gtair &lt/b&gt&lt/p&gt

&ltp&gtThat &ltb&gtsings &lt/b&gtwith &ltb&gtpierc&lt/b&gting, &ltb&gtdo &lt/b&gtnot &ltb&gttouch &lt/b&gtmy &ltb&gtlord&lt/b&gt. &lt/p&gt

&ltp&gtWho&ltb&gtev&lt/b&gter &ltb&gtshoots &lt/b&gtat &ltb&gthim&lt/b&gt, I &ltb&gtset &lt/b&gthim &ltb&gtthere&lt/b&gt.&lt/p&gt

&ltp&gtWho&ltb&gtev&lt/b&gter &ltb&gtcharg&lt/b&gtes &ltb&gton &lt/b&gthis &ltb&gtfor&lt/b&gtward &ltb&gtbreast&lt/b&gt, &lt/p&gt

&ltp&gtI &ltb&gtam &lt/b&gtthe &ltb&gtcait&lt/b&gtiff &ltb&gtthat &lt/b&gtdo &ltb&gthold &lt/b&gthim &ltb&gtto’t&lt/b&gt,&lt/p&gt

&ltp&gtAnd &ltb&gtthough &lt/b&gtI &ltb&gtkill &lt/b&gthim &ltb&gtnot&lt/b&gt, I &ltb&gtam &lt/b&gtthe &ltb&gtcause&lt/b&gt&lt/p&gt

&ltp&gtHis &ltb&gtdeath &lt/b&gtwas &ltb&gtso &lt/b&gtef&ltb&gtfec&lt/b&gtted. &ltb&gtBett&lt/b&gter ’&ltb&gttwere &lt/b&gt&lt/p&gt

&ltp&gtI &ltb&gtmet &lt/b&gtthe &ltb&gtra&lt/b&gtvin &ltb&gtli&lt/b&gton &ltb&gtwhen &lt/b&gthe &ltb&gtroared&lt/b&gt&lt/p&gt

&ltp&gtWith &ltb&gtsharp &lt/b&gtcon&ltb&gtstraint &lt/b&gtof &ltb&gthung&lt/b&gter; &ltb&gtbett&lt/b&gter ’&ltb&gttwere &lt/b&gt&lt/p&gt &ltp&gtThat &ltb&gtall &lt/b&gtthe &ltb&gtmis&lt/b&gte&ltb&gtries &lt/b&gtwhich &ltb&gtna&lt/b&gtture &ltb&gtowes&lt/b&gt&lt/p&gt

&ltp&gtWere &ltb&gtmine &lt/b&gtat &ltb&gtonce&lt/b&gt. No, &ltb&gtcome &lt/b&gtthou &ltb&gthome&lt/b&gt, Rous&ltb&gtsill&lt/b&gton, &lt/p&gt

&ltp&gtWhence &ltb&gthon&lt/b&gtor &ltb&gtbut &lt/b&gtof &ltb&gtdang&lt/b&gter &ltb&gtwins &lt/b&gta &ltb&gtscar&lt/b&gt,&lt/p&gt

&ltp&gtAs &ltb&gtoft &lt/b&gtit &ltb&gtlos&lt/b&gtes &ltb&gtall&lt/b&gt. I &ltb&gtwill &lt/b&gtbe &ltb&gtgone&lt/b&gt.&lt/p&gt

&ltp&gtMy &ltb&gtbe&lt/b&gting &ltb&gthere &lt/b&gtit &ltb&gtis &lt/b&gtthat &ltb&gtholds &lt/b&gtthee &ltb&gthence&lt/b&gt. &lt/p&gt

&ltp&gtShall &ltb&gtI &lt/b&gtstay &ltb&gthere &lt/b&gtto &ltb&gtdo’t&lt/b&gt? No, &ltb&gtno&lt/b&gt, al&ltb&gtthough &lt/b&gt&lt/p&gt

&ltp&gtThe &ltb&gtair &lt/b&gtof &ltb&gtpar&lt/b&gta&ltb&gtdise &lt/b&gtdid &ltb&gtfan &lt/b&gtthe &ltb&gthouse&lt/b&gt, &lt/p&gt

&ltp&gtAnd &ltb&gtang&lt/b&gtels &ltb&gtoff&lt/b&gticed &ltb&gtall&lt/b&gt. I &ltb&gtwill &lt/b&gtbe &ltb&gtgone&lt/b&gt,&lt/p&gt

&ltp&gtThat &ltb&gtpit&lt/b&gt(i)ful &ltb&gtru&lt/b&gtmor &ltb&gtmay &lt/b&gtre&ltb&gtport &lt/b&gtmy &ltb&gtflight&lt/b&gt&lt/p&gt

&ltp&gtTo &ltb&gtcon&lt/b&gtso&ltb&gtlate &lt/b&gtthine &ltb&gtear&lt/b&gt. Come &ltb&gtnight&lt/b&gt, end &ltb&gtday&lt/b&gt; &lt/p&gt

&ltp&gtFor &ltb&gtwith &lt/b&gtthe &ltb&gtdark&lt/b&gt, poor &ltb&gtthief&lt/b&gt, I’ll &ltb&gtsteal &lt/b&gta&ltb&gtway&lt/b&gt.&lt/p&gt
        </p>
    </div>

    <div class="col" style="overflow:scroll; height:200px;">
        <p>
            <b>e.g. or this, for the python portion:</b>
        </p>
        <p>
    import re
from flask import Flask, abort, redirect, render_template, request
from html import escape
from werkzeug.exceptions import default_exceptions, HTTPException

from helpers import lines, sentences, substrings


@app.route("/")
def index():
    """Handle requests for / via GET (and POST)"""
    return render_template("index.html")


@app.route("/compare", methods=["POST"])
def compare():
    """Handle requests for /compare via POST"""

    # Read files
    if not request.files["file1"] or not request.files["file2"]:
        abort(400, "missing file")
    try:
        file1 = request.files["file1"].read().decode("utf-8")
        file2 = request.files["file2"].read().decode("utf-8")
    except Exception:
        abort(400, "invalid file")

    # Compare files
    if not request.form.get("algorithm"):
        abort(400, "missing algorithm")
    elif request.form.get("algorithm") == "lines":
        regexes = [f"^{re.escape(match)}$" for match in lines(file1, file2)]
    elif request.form.get("algorithm") == "sentences":
        regexes = [re.escape(match) for match in sentences(file1, file2)]
    elif request.form.get("algorithm") == "substrings":
        if not request.form.get("length"):
            abort(400, "missing length")
        elif not int(request.form.get("length")) > 0:
            abort(400, "invalid length")
        regexes = [re.escape(match) for match in substrings(
            file1, file2, int(request.form.get("length")))]
    else:
        abort(400, "invalid algorithm")

    # Highlight files
    highlights1 = highlight(file1, regexes)
    highlights2 = highlight(file2, regexes)

    # Output comparison
    return render_template("compare.html", file1=highlights1, file2=highlights2)
        </p>
    </div>

{% endblock %}
