<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <!-- <title>Folio2</title> -->

    </head>
    <body>
        <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="/examples">Examples</a>
            </nav>
            <h1>Folio</h1>
            <!-- <div class=container2> -->
            <div class="row">
                {% block body %}{% endblock %}
            </div>
            <!-- </div> -->
        </div>
    </body>
</html>
